<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>


  .table {
    top: 60px;
    position: absolute;
    margin-left: 500px;
    width: 500px;
    background-color: #cce9f8;
  }

</style>

<!-- Toolbar -->
<div>
  <table class="table" name="Firms'BalancesTable" cols="3" border="3">
    <caption><H3>Firms' balances</H3></caption>
    <tr>
      <th>Id</th>
      <th>Firm</th>
      <th>Balance</th>
    </tr>
    <tr *ngFor="let company of companies; let i = index"><td>{{company.id}}</td><td>{{company.name}}</td><td>{{company.balance}}</td><td><button (click)="postIncoming(i)">incoming</button></td><td><button (click)="postOutgoing(i)">outgoing</button></td></tr>
  </table>


</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
