<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  .table {
    margin-left: 450px;
    top: 60px;
    position: absolute;
    width: 500px;
    background-color: #cce9f8;
  }
  .message {
    margin-top: 35px;
    margin-left: 450px;
    font-size: 30px;
    color: #ff0000;
  }

</style>

<!-- Toolbar -->
<div>
  <table class="table" name="Firms'BalancesTable" cols="5" border="3">
    <caption><H3>Firms' balances</H3></caption>
    <tr>
      <th>Id</th>
      <th>Firm</th>
      <th>Balance</th>
      <th>Sum</th>
      <th>Transaction</th>
    </tr>
    <tr *ngFor="let company of companies; let i = index">
      <td>{{company.id}}</td>
      <td>{{company.name}}</td>
      <td>{{company.balance}}</td>
      <td><input type="text" #inputElement (input)="transactionValues[i] = inputElement.value"></td>
      <td><button (click)="postIncoming(i)" style="width: 100%">incoming</button><button (click)="postOutgoing(i)" style="width: 100%">outgoing</button></td>
    </tr>
  </table>
  <p hidden="true" id="message" class="message">{{errorText}}</p>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
